doctype html
head
    title=title
    style.
        body {
            background: #282B30;
            color: white;
        }
        a:link {
            color: #b3b3b3;
            text-decoration: none;
        }
        #services {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
        width: 100%;
        }
        #services td,
        #services th {
        border: 0px solid #ddd;
        padding: 8px;
        }
        #services tr:nth-child(even) {
        background-color: #32353C;
        }
        #services tr:hover {
        background-color: #32353C;
        }
        #services th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #51545F;
        color: white; 
        }
        #Queued {
        background: linear-gradient(90deg, rgba(11,161,182,1) 0%, rgba(0,212,255,1) 100%);
        border-radius: 25px;
        padding: 3px;
        width: 90px;
        text-align: center;
        }
        #Done {
        background: linear-gradient(90deg, rgba(69,224,136,1) 0%, rgba(0,212,255,1) 100%);
        border-radius: 25px;
        padding: 3px;
        width: 90px;
        text-align: center;
        }
        #Error {
        background: linear-gradient(90deg, rgba(255,194,108,1) 55%, rgba(0,212,255,1) 100%);
        border-radius: 25px;
        padding: 3px;
        width: 90px;
        text-align: center;
        }
        #logo {
            width: 15px;
            -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
            filter: invert(100%);
            padding-right: 6px;
        }
    script(src='https://cdn.socket.io/3.1.3/socket.io.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')

body
    table#services
        tbody
            tr
                th Insert time
                th Asset name
                th Sent by
                th Status
                th 
            each item in queue
                tr
                    td=item.insertTime
                    td=item.name
                    td=item.sentBy
                    td
                        div(id = `${item.status}`)=item.status
                    td
                        img(src='images/trash.svg')#logo
                        a(href=`/remove?glid=${item.mobid}`) REMOVE

    script.
        const socket = io();
        socket.emit("helloFromAsset", { a: "This is coming from asset.pug", c: [] });
